# Ignore compiled binaries
*.amx

# Ignore debug symbols & server executables
*.pdb

# Ignore nested .git directories in dependencies
dependencies/**/.git/

# Ignore logs and temporary files
*.log
*.tmp
crashdetect.log
mysql.log

# Ignore OS & Editor metadata
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
